
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="css/style.css" />


    <!-- <link rel="stylesheet" href="../public/css/style.css" /> -->
    <!-- <link rel="stylesheet" href="style.css"> -->

    <script src="https://kit.fontawesome.com/b0a4a992bb.js" crossorigin="anonymous"></script>
   

</head>
<body>
    <section id="advertised">

    <div id="navbar">
        
        <div id="logo">
            <img src="images/logoo.jpeg" alt="loading image" >
        </div>
        <h1 class="priheading center">WELCOME TO EXAM PORTAL WEBSITE</h1>
        
    </div>
     
        <input type="checkbox" id="opensidebar">
        <label for="opensidebar" class="sidebaricon">
            <div class="spinner top"></div>
            <div class="spinner middle"></div>
            <div class="spinner bottom"></div>
        </label>
    
    
    <div id="sidebarmenu">
        <ul class="menu">
            <li><a href="/dashboard" ><i class="fa-solid fa-graduation-cap"></i> STUDENT PROFILE</a></li>
                <li><a href="_a" target="_blank"><i class="fa-solid fa-pen"></i> EXAMS</a></li>
                <li><a href="_a" target="_blank"><i class="fa-solid fa-book-open-reader"></i> COURSES</a></li>
                <li><a href="_a" target="_blank"><i class="fa-solid fa-chalkboard-user"></i> ADVERTISE</a></li>
                <li><a href="/contact" target="_blank"><i class="fa-solid fa-phone"></i> CONTACT US</a></li>
                <li class="sp"><a  href="/samplepaper" target="_blank"><i class="fa-solid fa-paper-plane"></i> SAMPLE PAPER</a></li>
                </ul>
        </ul>
    </div>


    <div id="ads">
        <div class="offers">
            <h1><i class="fa-solid fa-cart-shopping"></i> OFFERS <i class="fa-solid fa-cart-shopping"></i></h1>
            <div class="offerbox">
          <h2 id="red"># show your advertise for 1 month in just 250\-</h2>
          <h2 id="green"># show your advertise for 2 month in just 450\-</h2>
          <h2 id="yellow"># show your advertise for 6 month in just 999\-</h2>
            </div>
        </div>

        <div class="card">
            <h1 id="cardlogo"><i class="fa-sharp fa-solid fa-credit-card"></i></h1>

            <div class="card1">
                <p>CARD HOLDER NAME</p>
                <input type="text" placeholder="enter your name">
                <p>CARD NUMBER</p>
                <input type="text" placeholder="0000 0000 0000 0000">
            </div>
            <p>EXPIRT DATE</p>
            <input type="date" name="" id="">
            <p>cvv</p>
            <input type="text" placeholder="000">
            <a class="downloadbtn" href="#" class="vrd"> PAY</a>
        </div>
    </div>
  





</section>
    
</body>
</html>