<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jr arts exams </title>
    <script src="https://kit.fontawesome.com/b0a4a992bb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css" />


</head>

<body>
    <section class="exampage">
        <div id="navbar">

            <div id="logo">
                <img src="images/logoo.jpeg" alt="loading image">
            </div>
            <h1 class="priheading center">WELCOME TO JUNIOR COLLEGES EXAM SECTION</h1>

        </div>
        <input type="checkbox" id="opensidebar">
        <label for="opensidebar" class="sidebaricon">
            <div class="spinner top"></div>
            <div class="spinner middle"></div>
            <div class="spinner bottom"></div>
        </label>


        <div id="sidebarmenu">
            <ul class="menu">
                <li><a href="_a" target="_blank"><i class="fa-solid fa-graduation-cap"></i> STUDENT PROFILE</a></li>
                <li><a href="_a" target="_blank"><i class="fa-solid fa-pen"></i> EXAMS</a></li>
                <li><a href="_a" target="_blank"><i class="fa-solid fa-book-open-reader"></i> COURSES</a></li>
                <li><a href="_a" target="_blank"><i class="fa-solid fa-chalkboard-user"></i> MENTOR</a></li>
                <li><a href="_a" target="_blank"><i class="fa-solid fa-paper-plane"></i> SAMPLE PAPER</a></li>
                <li><a href="/contact" target="_blank"><i class="fa-solid fa-phone"></i> CONTACT US</a></li>
            </ul>
        </div>
        <div class="heading">
            <h2 class="secheading center">EXAMS FOR JUNIOR COLLEGE (COMMERCE)</h2>

        </div>


        <div class="exam">

            <div class="exambox">
                <ul class="examname">
                    <li><a href="#cacpt"> MRNAT </a></li>
                    <li><a href="#cseet">NCHMCT JEE.</a></li>
                    <li><a href="#cma"> NIFT</a></li>
                    <li><a href=" #nmims"> SAT</a></li>
                    <li><a href=" #acet ">CLAT</a></li>
                </ul>

            </div>


        </div>

        <section class="examspecification">
            <div class="specificationbox">
                <a name="cacpt">
                    <h2 class="secheading center">Manav Rachna National Aptitude Test</h2>

                    <p class="border">
                        <br>
                        <strong>Manav Rachna National Aptitude Test</strong><br><br>
                        <strong>Purpose :-</strong>
                        "test for admission to various UG and PG programmes in the university."<br>
                        <strong>Eligibility :-</strong>
                        "12th pass with 50%"<br>
                        <strong>Application mode :-</strong>
                        "Online"<br>
                        <strong>Syllabus :-</strong>
                        <a href="" class="vrd">See Syllabus</a>
                        <strong>Source:-</strong>
                        <a class="vrd"
                            href="https://manavrachna.edu.in/mrnat/"
                            target="_blank">Official website</a>
                        <strong>Do Registration:-</strong>
                        <a href="https://manavrachna.edu.in/mrnat/"
                            class="vrd" target="_blank">Click Here To
                            Register</a>
                        <strong>Previous Year Question Paper:-</strong>
                        <a class="downloadbtn" href="/public/a_pdf/jee.pdf" download target="_blank"
                            class="vrd">Download PYQS</a>
                    </p>


                </a>
            </div>


            <div class="specificationbox">
                <a name="cseet">
                    <h2 class="secheading center">National Council of Hotel Management & Catering Technology </h2>

                    <p class="border">
                        <br>
                        <strong>National Eligibility Cum Entrance Test (NEET)</strong><br><br>
                        <strong>Purpose :-</strong>
                        " coordinated growth and development of hospitality management education in the country."<br>
                        <strong>Eligibility :-</strong>
                        "Class 12 pass"<br>
                        <strong>Application mode :-</strong>
                        "Online"<br>
                        <strong>Syllabus :-</strong>
                        <a href="" class="vrd">See Syllabus</a>
                        <strong>Source:-</strong>
                        <a class="vrd"
                            href="http://nchm.nic.in/"
                            target="_blank">Official website</a>
                        <strong>Do Registration:-</strong>
                        <a href="http://nchm.nic.in/"
                            class="vrd" target="_blank">Click Here To
                            Register</a>
                        <strong>Previous Year Question Paper :-</strong>
                        <a class="downloadbtn" href="/public/a_pdf/jee.pdf" download target="_blank"
                            class="vrd">Download PYQS</a>
                    </p>


                </a>
            </div>

            <div class="specificationbox">
                <a name="cma">
                    <h2 class="secheading center">NIFT Entrance Exam</h2>

                    <p class="border">
                        <br>
                        <strong>NIFT Entrance Exam</strong><br><br>
                        <strong>Purpose :-</strong>
                        " for admission to NIFT campuses "<br>
                        <strong>Eligibility :-</strong>
                        "10+2 pass"<br>
                        <strong>Application mode :-</strong>
                        "Online"<br>
                        <strong>Syllabus :-</strong>
                        <a href="" class="vrd">See Syllabus</a>
                        <strong>Source:-</strong>
                        <a class="vrd" href="https://www.nift.ac.in/admission" target="_blank">Official website</a>
                        <strong>Do Registration:-</strong>
                        <a href="https://www.nift.ac.in/admission" class="vrd" target="_blank">Click Here To
                            Register</a>
                        <strong>Previous Year Question Paper :-</strong>
                        <a class="downloadbtn" href="/public/a_pdf/jee.pdf" download target="_blank"
                            class="vrd">Download PYQS</a>
                    </p>
                </a>
            </div>


            <div class="specificationbox">
                <a name="nmims">
                    <h2 class="secheading center">Scholastic Aptitude Test</h2>

                    <p class="border">
                        <br>
                        <strong>Scholastic Aptitude Test</strong><br><br>
                        <strong>Purpose :-</strong>
                        "high school students show colleges what they know and how well they can apply that knowledge."<br>
                        <strong>Eligibility :-</strong>
                        "12th pass"<br>
                        <strong>Application mode :-</strong>
                        "Online"<br>
                        <strong>Syllabus :-</strong>
                        <a href="" class="vrd">See Syllabus</a>
                        <strong>Source:-</strong>
                        <a class="vrd"
                            href="https://studyabroad.shiksha.com/exams/sat"
                            target="_blank">Official website</a>
                        <strong>Do Registration:-</strong>
                        <a href="https://studyabroad.shiksha.com/exams/sat" class="vrd" target="_blank">Click Here To
                            Register</a>
                        <strong>Previous Year Question Paper :-</strong>
                        <a class="downloadbtn" href="/public/a_pdf/jee.pdf" download target="_blank"
                            class="vrd">Download PYQS</a>
                    </p>
                </a>
            </div>


            



            
        </section>
    </section>

</body>

</html>