<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jr commers exams </title>
    <script src="https://kit.fontawesome.com/b0a4a992bb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css" />


</head>

<body>
    <section class="exampage">
        <div id="navbar">

            <div id="logo">
                <img src="images/logoo.jpeg" alt="loading image">
            </div>
            <h1 class="priheading center">WELCOME TO JUNIOR COLLEGES EXAM SECTION</h1>

        </div>
        <input type="checkbox" id="opensidebar">
        <label for="opensidebar" class="sidebaricon">
            <div class="spinner top"></div>
            <div class="spinner middle"></div>
            <div class="spinner bottom"></div>
        </label>


        <div id="sidebarmenu">
            <ul class="menu">
                <li><a href="_a" target="_blank"><i class="fa-solid fa-graduation-cap"></i> STUDENT PROFILE</a></li>
                <li><a href="_a" target="_blank"><i class="fa-solid fa-pen"></i> EXAMS</a></li>
                <li><a href="_a" target="_blank"><i class="fa-solid fa-book-open-reader"></i> COURSES</a></li>
                <li><a href="_a" target="_blank"><i class="fa-solid fa-chalkboard-user"></i> MENTOR</a></li>
                <li><a href="_a" target="_blank"><i class="fa-solid fa-paper-plane"></i> SAMPLE PAPER</a></li>
                <li><a href="/contact" target="_blank"><i class="fa-solid fa-phone"></i> CONTACT US</a></li>
            </ul>
        </div>
        <div class="heading">
            <h2 class="secheading center">EXAMS FOR JUNIOR COLLEGE (COMMERCE)</h2>

        </div>


        <div class="exam">

            <div class="exambox">
                <ul class="examname">
                    <li><a href="#cacpt"> CA CPT</a></li>

                    <li><a href="#cseet">CSEET</a></li>
                    <li><a href="#cma"> CMA</a></li>
                    <li><a href=" #nmims"> NMIMS-NPAT</a></li>
                    <li><a href=" #ipucet "> IPU CET</a></li>
                    <li><a href=" #acet ">ACET</a></li>
                </ul>

            </div>


        </div>

        <section class="examspecification">
            <div class="specificationbox">
                <a name="cacpt">
                    <h2 class="secheading center">CA CPT (Chartered Accountant Common Proficiency Test)</h2>

                    <p class="border">
                        <br>
                        <strong>CA CPT (Chartered Accountant Common Proficiency Test)</strong><br><br>
                        <strong>Purpose :-</strong>
                        " an entry level examination for admission to the Chartered Accountancy Course."<br>
                        <strong>Eligibility :-</strong>
                        "Class 10 pass"<br>
                        <strong>Application mode :-</strong>
                        "Online"<br>
                        <strong>Syllabus :-</strong>
                        <a href="" class="vrd">See Syllabus</a>
                        <strong>Source:-</strong>
                        <a class="vrd"
                            href="https://www.icai.org/post.html?post_id=505#:~:text=Common%20Proficiency%20Test%20is%20an,%2C%20M.Com%2C%20LL."
                            target="_blank">Official website</a>
                        <strong>Do Registration:-</strong>
                        <a href="https://www.icai.org/post.html?post_id=505#:~:text=Common%20Proficiency%20Test%20is%20an,%2C%20M.Com%2C%20LL."
                            class="vrd" target="_blank">Click Here To
                            Register</a>
                        <strong>Previous Year Question Paper:-</strong>
                        <a class="downloadbtn" href="/public/a_pdf/jee.pdf" download target="_blank"
                            class="vrd">Download PYQS</a>
                    </p>


                </a>
            </div>


            <div class="specificationbox">
                <a name="cseet">
                    <h2 class="secheading center">CS Executive Entrance Test </h2>

                    <p class="border">
                        <br>
                        <strong>National Eligibility Cum Entrance Test (NEET)</strong><br><br>
                        <strong>Purpose :-</strong>
                        " qualifying entrance test for registration to the CS Executive programme."<br>
                        <strong>Eligibility :-</strong>
                        "Class 12 pass"<br>
                        <strong>Application mode :-</strong>
                        "Online"<br>
                        <strong>Syllabus :-</strong>
                        <a href="" class="vrd">See Syllabus</a>
                        <strong>Source:-</strong>
                        <a class="vrd"
                            href="https://www.icsi.edu/student-n/cseet/#:~:text=Company%20Secretary%20Executive%20Entrance%20Test%20(CSEET)%20to%20be%20Conducted%20on,Conducted%20on%2012th%20November%202022"
                            target="_blank">Official website</a>
                        <strong>Do Registration:-</strong>
                        <a href="https://www.icsi.edu/student-n/cseet/#:~:text=Company%20Secretary%20Executive%20Entrance%20Test%20(CSEET)%20to%20be%20Conducted%20on,Conducted%20on%2012th%20November%202022"
                            class="vrd" target="_blank">Click Here To
                            Register</a>
                        <strong>Previous Year Question Paper :-</strong>
                        <a class="downloadbtn" href="/public/a_pdf/jee.pdf" download target="_blank"
                            class="vrd">Download PYQS</a>
                    </p>


                </a>
            </div>

            <div class="specificationbox">
                <a name="cma">
                    <h2 class="secheading center">Certified management accountant</h2>

                    <p class="border">
                        <br>
                        <strong>Certified management accountant</strong><br><br>
                        <strong>Purpose :-</strong>
                        " accounting professional that uses their expertise in management accounting to help businesses
                        make calculated decisions."<br>
                        <strong>Eligibility :-</strong>
                        "Graduation"<br>
                        <strong>Application mode :-</strong>
                        "offline"<br>
                        <strong>Syllabus :-</strong>
                        <a href="" class="vrd">See Syllabus</a>
                        <strong>Source:-</strong>
                        <a class="vrd" href="https://icmai.in/icmai/" target="_blank">Official website</a>
                        <strong>Do Registration:-</strong>
                        <a href="https://icmai.in/icmai/" class="vrd" target="_blank">Click Here To
                            Register</a>
                        <strong>Previous Year Question Paper :-</strong>
                        <a class="downloadbtn" href="/public/a_pdf/jee.pdf" download target="_blank"
                            class="vrd">Download PYQS</a>
                    </p>
                </a>
            </div>


            <div class="specificationbox">
                <a name="nmims">
                    <h2 class="secheading center">Certified management accountant</h2>

                    <p class="border">
                        <br>
                        <strong>Certified management accountant</strong><br><br>
                        <strong>Purpose :-</strong>
                        "admission to BBA"<br>
                        <strong>Eligibility :-</strong>
                        "12th pass"<br>
                        <strong>Application mode :-</strong>
                        "Online"<br>
                        <strong>Syllabus :-</strong>
                        <a href="" class="vrd">See Syllabus</a>
                        <strong>Source:-</strong>
                        <a class="vrd"
                            href="https://apply.nmims.edu/application-form-npat-2023/?utm_source=Collegedunia&utm_medium=madison&utm_campaign=npat_native4_campaign"
                            target="_blank">Official website</a>
                        <strong>Do Registration:-</strong>
                        <a href="https://apply.nmims.edu/application-form-npat-2023/?utm_source=Collegedunia&utm_medium=madison&utm_campaign=npat_native4_campaign" class="vrd" target="_blank">Click Here To
                            Register</a>
                        <strong>Previous Year Question Paper :-</strong>
                        <a class="downloadbtn" href="/public/a_pdf/jee.pdf" download target="_blank"
                            class="vrd">Download PYQS</a>
                    </p>
                </a>
            </div>


            <div class="specificationbox">
                <a name="nmims">
                    <h2 class="secheading center">Indraprastha University Common Entrance Test</h2>

                    <p class="border">
                        <br>
                        <strong>Indraprastha University Common Entrance Test</strong><br><br>
                        <strong>Purpose :-</strong>
                        " providing admission in engineering, law, computer applications, management and several other courses."<br>
                        <strong>Eligibility :-</strong>
                        "12th pass"<br>
                        <strong>Application mode :-</strong>
                        "Online"<br>
                        <strong>Syllabus :-</strong>
                        <a href="" class="vrd">See Syllabus</a>
                        <strong>Source:-</strong>
                        <a class="vrd"
                            href="http://www.ipu.ac.in/"
                            target="_blank">Official website</a>
                        <strong>Do Registration:-</strong>
                        <a href="http://www.ipu.ac.in/" class="vrd" target="_blank">Click Here To
                            Register</a>
                        <strong>Previous Year Question Paper :-</strong>
                        <a class="downloadbtn" href="/public/a_pdf/jee.pdf" download target="_blank"
                            class="vrd">Download PYQS</a>
                    </p>
                </a>
            </div>



            <div class="specificationbox">
                <a name="acet">
                    <h2 class="secheading center">Actuarial Common Entrance Test</h2>

                    <p class="border">
                        <br>
                        <strong>Actuarial Common Entrance Test</strong><br><br>
                        <strong>Purpose :-</strong>
                        "for individuals who wish to pursue their careers as an actuary."<br>
                        <strong>Eligibility :-</strong>
                        "10+2 pass"<br>
                        <strong>Application mode :-</strong>
                        "Online"<br>
                        <strong>Syllabus :-</strong>
                        <a href="" class="vrd">See Syllabus</a>
                        <strong>Source:-</strong>
                        <a class="vrd"
                            href="https://actuariesindia.org/about-acet"
                            target="_blank">Official website</a>
                        <strong>Do Registration:-</strong>
                        <a href="https://actuariesindia.org/about-acet" class="vrd" target="_blank">Click Here To
                            Register</a>
                        <strong>Previous Year Question Paper :-</strong>
                        <a class="downloadbtn" href="/public/a_pdf/jee.pdf" download target="_blank"
                            class="vrd">Download PYQS</a>
                    </p>
                </a>
            </div>
        </section>
    </section>

</body>

</html>