<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jr science exams </title>
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://kit.fontawesome.com/b0a4a992bb.js" crossorigin="anonymous"></script>
</head>

<body>
    <section class="exampage">
        <div id="navbar">

            <div id="logo">
                <img src="images/logoo.jpeg" alt="loading image">
            </div>
            <h1 class="priheading center">WELCOME TO JUNIOR COLLEGES EXAM SECTION</h1>

        </div>
        <input type="checkbox" id="opensidebar">
        <label for="opensidebar" class="sidebaricon">
            <div class="spinner top"></div>
            <div class="spinner middle"></div>
            <div class="spinner bottom"></div>
        </label>


        <div id="sidebarmenu">
            <ul class="menu">
                <li><a href="_a" target="_blank"><i class="fa-solid fa-graduation-cap"></i> STUDENT PROFILE</a></li>
                <li><a href="_a" target="_blank"><i class="fa-solid fa-pen"></i> EXAMS</a></li>
                <li><a href="_a" target="_blank"><i class="fa-solid fa-book-open-reader"></i> COURSES</a></li>
                <li><a href="_a" target="_blank"><i class="fa-solid fa-chalkboard-user"></i> MENTOR</a></li>
                <li><a href="_a" target="_blank"><i class="fa-solid fa-paper-plane"></i> SAMPLE PAPER</a></li>
                <li><a href="contact.html" target="_blank"><i class="fa-solid fa-phone"></i> CONTACT US</a></li>
            </ul>
        </div>
        <div class="heading">
            <h2 class="secheading center">EXAMS FOR JUNIOR COLLEGE</h2>

        </div>

        <div class="exam">

            <div class="exambox">
                <ul class="examname">
                    <li><a href="#engineering"><i class="fa-solid fa-laptop"></i> Engineering</a></li>
                    <li><a href="#marine"><i class="fa-solid fa-ship"></i> Marine, Navy, Defence</a></li>
                    <li><a href="#medical"><i class="fa-solid fa-user-doctor"></i> Medical</a></li>
                    <li><a href="#humanity"><i class="fa-solid fa-tree"></i> Humanity And Social Sciences</a></li>
                    <li><a href=" #agriculture"><i class="fa-solid fa-tractor"></i> Agriculture And Hotel Management</a></li>
                    <li><a href="#law"><i class="fa-solid fa-scale-balanced"></i> Law</a></li>
                    <li><a href="#puresci "><i class="fa-solid fa-flask"></i> Pure Science</a></li>
                    <li><a href=" #maths "><i class="fa-regular fa-calculator"></i> Mathematics</a></li>
                </ul>

            </div>


        </div>

        <section class="examspecification">
            <div class="specificationbox">
                <a name="engineering">


                    <!-- engineering -->



                    <h2 class="secheading center">Engineering</h2>

                    <p class="border">
                        <strong>Joint Examination (JEE) Main</strong><br><br>
                        <strong>Purpose :-</strong>
                        "For Admission in B. E./B. Tech., B. Arch., B. Planning"<br>
                        <strong>Eligibility :-</strong>
                        "Class 12 pass (PCM)"<br>
                        <strong>Application mode :-</strong>
                        "Online"<br>
                        <strong>Syllabus :-</strong>
                        <a href="" class="vrd">See Syllabus</a>
                        <strong>Source:-</strong>
                        <a class="vrd" href="https://jeemain.nta.nic.in/" target="_blank"> IIT-Joint Entrance Exam
                            (PCM)</a>
                        <strong>Do Registration:-</strong>
                        <a href="https://examinationservices.nic.in/jeemain22/root/Home.aspx?enc=Ei4cajBkK1gZSfgr53ImFVj34FesvYg1WX45sPjGXBr4k3BRYopUWpW/JMEseWKI"
                            class="vrd" target="_blank">Click Here To Register</a>
                        <strong>Previous Year Question Paper:-</strong>
                        <a class="downloadbtn" href="/public/a_pdf/jee.pdf" download target="_blank" class="vrd">Download PYQS</a>

                    </p>


                    <p class="border">
                        <br>
                        <strong>JEE Advanced</strong><br><br>
                        <strong>Purpose :-</strong>
                        "Admission in UG programmes in IITs "<br>
                        <strong>Eligibility :-</strong>
                        "Class 12 pass (PCM)"<br>
                        <strong>Application mode :-</strong>
                        "Online"<br>
                        <strong>Syllabus :-</strong>
                        <a href="" class="vrd">See Syllabus</a>
                        <strong>Source:-</strong>
                        <a class="vrd" href="https://jeeadv.ac.in/" target="_blank"> Jee Advanced</a>
                        <strong>Do Registration:-</strong>
                        <a href="https://jeeadv.ac.in/registration.html" class="vrd" target="_blank">Click Here To
                            Register</a>
                        <strong>Previous Year Question Paper:-</strong>
                        <a class="downloadbtn" href="a_pdf/jee.pdf" download target="_blank" class="vrd">Download PYQS</a>                    </p>




                    <!-- namuna -->





                    <p class="border">
                        <br>
                        <strong></strong><br><br>
                        <strong>Purpose :-</strong>
                        ""<br>
                        <strong>Eligibility :-</strong>
                        "Class 12 pass (PCM)"<br>
                        <strong>Application mode :-</strong>
                        "Online"<br>
                        <strong>Syllabus :-</strong>
                        <a href="" class="vrd">See Syllabus</a>
                        <strong>Source:-</strong>
                        <a class="vrd" href="" target="_blank">Official website</a>
                        <strong>Do Registration:-</strong>
                        <a href="" class="vrd" target="_blank">Click Here To
                            Register</a>
                        <strong>Previous Year Question Paper:-</strong>
                        <a class="downloadbtn" href="a_pdf/jee.pdf" download target="_blank" class="vrd">Download PYQS</a>                    </p>






                    <p class="border">
                        <br>
                        <strong>BITSAT</strong><br><br>
                        <strong>Purpose :-</strong>
                        "Admission in Integrated First Degree programmes in BITS Pilani, Goa & Hyderabad campuses."<br>
                        <strong>Eligibility :-</strong>
                        "Class 12 pass (PCM)"<br>
                        <strong>Application mode :-</strong>
                        "Online"<br>
                        <strong>Syllabus :-</strong>
                        <a href="" class="vrd">See Syllabus</a>
                        <strong>Source:-</strong>
                        <a class="vrd" href="https://www.bitsadmission.com/" target="_blank">Official website</a>
                        <strong>Do Registration:-</strong>
                        <a href="https://www.bitsadmission.com/" class="vrd" target="_blank">Click Here To
                            Register</a>
                        <strong>Previous Year Question Paper:-</strong>
                        <a class="downloadbtn" href="a_pdf/jee.pdf" download target="_blank" class="vrd">Download PYQS</a>                    </p>


                    <p class="border">
                        <br>
                        <strong>NDA Entrance with PCM (MPC)</strong><br><br>
                        <strong>Purpose :-</strong>
                        "Taking Admission In NDA"<br>
                        <strong>Eligibility :-</strong>
                        "Class 12 pass (PCM)"<br>
                        <strong>Application mode :-</strong>
                        "Online"<br>
                        <strong>Syllabus :-</strong>
                        <a href="" class="vrd">See Syllabus</a>
                        <strong>Source:-</strong>
                        <a class="vrd" href="https://www.nda.nic.in/" target="_blank">Official website</a>
                        <strong>Do Registration:-</strong>
                        <a href="https://www.nda.nic.in/" class="vrd" target="_blank">Click Here To
                            Register</a>
                        <strong>Previous Year Question Paper:-</strong>
                        <a class="downloadbtn" href="a_pdf/jee.pdf" download target="_blank" class="vrd">Download PYQS</a>                    </p>

                  
                   

                </a>
            </div>



            <!-- Medical-->



            <div class="specificationbox">
                <a name="medical">
                    <h2 class="secheading center">Medical</h2>

                     <p class="border">
                        <br>
                        <strong>National Eligibility Cum Entrance Test (NEET)</strong><br><br>
                        <strong>Purpose :-</strong>
                        ""<br>
                        <strong>Eligibility :-</strong>
                        "Class 12 pass (PCB)"<br>
                        <strong>Application mode :-</strong>
                        "Online"<br>
                        <strong>Syllabus :-</strong>
                        <a href="" class="vrd">See Syllabus</a>
                        <strong>Source:-</strong>
                        <a class="vrd" href="https://neet.nta.nic.in/" target="_blank">Official website</a>
                        <strong>Do Registration:-</strong>
                        <a href="https://neet.nta.nic.in/" class="vrd" target="_blank">Click Here To
                            Register</a>
                        <strong>Previous Year Question Paper:-</strong>
                        <a class="downloadbtn" href="a_pdf/jee.pdf" download target="_blank" class="vrd">Download PYQS</a>                    </p>

                    
                </a>
            </div>


            <!-- Marine, Navy, Defence -->



            <div class="specificationbox">
                <a name="marine">
                    <h2 class="secheading center">Marine, Navy, Defence</h2>

                    <p class="border">
                        <br>
                        <strong>Indian Maritime University Common Entrance Test</strong><br><br>
                        <strong>Purpose :-</strong>
                        "Admission in Diploma in Nautical Science (DNS) leading to BSc. (Nautical Science)"<br>
                        <strong>Eligibility :-</strong>
                        "Class 12 pass (PCM)"<br>
                        <strong>Application mode :-</strong>
                        "Online"<br>
                        <strong>Syllabus :-</strong>
                        <a href="" class="vrd">See Syllabus</a>
                        <strong>Source:-</strong>
                        <a class="vrd" href="https://officersmaritimeacademy.in/merchant-navy-after-12th-bsc-nautical-science/" target="_blank">Official website</a>
                        <strong>Do Registration:-</strong>
                        <a href="https://officersmaritimeacademy.in/merchant-navy-after-12th-bsc-nautical-science/" class="vrd" target="_blank">Click Here To
                            Register</a>
                        <strong>Previous Year Question Paper:-</strong>
                        <a class="downloadbtn" href="a_pdf/jee.pdf" download target="_blank" class="vrd">Download PYQS</a>                    </p>



                    <p class="border">
                        <br>
                        <strong>Indian Navy B.Tech Entry Schemev</strong><br><br>
                        <strong>Purpose :-</strong>
                        " Admission in Indian Navy B.Tech course"<br>
                        <strong>Eligibility :-</strong>
                        "Class 12 pass"<br>
                        <strong>Application mode :-</strong>
                        "Online"<br>
                        <strong>Syllabus :-</strong>
                        <a href="" class="vrd">See Syllabus</a>
                        <strong>Source:-</strong>
                        <a class="vrd" href="https://www.joinindiannavy.gov.in/en/event/officer-entry-10-2-b-tech-cadet-entry-scheme-permanent-commission-jan-2020-online-from-31-may-2019-t.html" target="_blank">Official website</a>
                        <strong>Do Registration:-</strong>
                        <a href="https://www.joinindiannavy.gov.in/en/event/officer-entry-10-2-b-tech-cadet-entry-scheme-permanent-commission-jan-2020-online-from-31-may-2019-t.html" class="vrd" target="_blank">Click Here To
                            Register</a>
                        <strong>Previous Year Question Paper:-</strong>
                        <a class="downloadbtn" href="a_pdf/jee.pdf" download target="_blank" class="vrd">Download PYQS</a>                    </p>

                    <p class="border">
                        <br>
                        <strong>Indian Navy Sailors Recruitment</strong><br><br>
                        <strong>Purpose :-</strong>
                        "Admission in 24 weeks Basic training at INS Chilka followed by Professional training"<br>
                        <strong>Eligibility :-</strong>
                        "Class 12 pass (PCM)"<br>
                        <strong>Application mode :-</strong>
                        "Online, By Post"<br>
                        <strong>Syllabus :-</strong>
                        <a href="" class="vrd">See Syllabus</a>
                        <strong>Source:-</strong>
                        <a class="vrd" href="https://www.joinindiannavy.gov.in/" target="_blank">Official website</a>
                        <strong>Do Registration:-</strong>
                        <a href="https://www.joinindiannavy.gov.in/" class="vrd" target="_blank">Click Here To
                            Register</a>
                        <strong>Previous Year Question Paper:-</strong>
                        <a class="downloadbtn" href="a_pdf/jee.pdf" download target="_blank" class="vrd">Download PYQS</a>                    </p>

                    <p class="border">
                        <br>
                        <strong>National Defence Academy and Naval Academy Examination (I)</strong><br><br>
                        <strong>Purpose :-</strong>
                        "Admission to Army and Air Force wings of NDA and 4 years B. Tech course for the Indian Naval Academy"<br>
                        <strong>Eligibility :-</strong>
                        "Class 12 pass (PCM)"<br>
                        <strong>Application mode :-</strong>
                        "Online"<br>
                        <strong>Syllabus :-</strong>
                        <a href="" class="vrd">See Syllabus</a>
                        <strong>Source:-</strong>
                        <a class="vrd" href="https://www.upsc.gov.in/examinations/National%20Defence%20Academy%20and%20Naval%20Academy%20Examination%20%28I%29%2C%202022" target="_blank">Official website</a>
                        <strong>Do Registration:-</strong>
                        <a href="https://www.upsc.gov.in/examinations/National%20Defence%20Academy%20and%20Naval%20Academy%20Examination%20%28I%29%2C%202022" class="vrd" target="_blank">Click Here To
                            Register</a>
                        <strong>Previous Year Question Paper:-</strong>
                        <a class="downloadbtn" href="a_pdf/jee.pdf" download target="_blank" class="vrd">Download PYQS</a>                    </p>
                </a>
            </div>

            <!-- Humanity & Social Sciences -->


            <div class="specificationbox">
                <a name="humanity">
                    <h2 class="secheading center">Humanity & Social Sciences</h2>

                    <p class="border">
                        <br>
                        <strong>Central University Entrance Test (CUET) for UG courses</strong><br><br>
                        <strong>Purpose :-</strong>
                        "Admission into all UG Programmes in all Central Universities"<br>
                        <strong>Eligibility :-</strong>
                        "Class 12 pass"<br>
                        <strong>Application mode :-</strong>
                        "Online"<br>
                        <strong>Syllabus :-</strong>
                        <a href="" class="vrd">See Syllabus</a>
                        <strong>Source:-</strong>
                        <a class="vrd" href="https://www.careerpower.in/cuet-full-form.html#:~:text=CUET's%20full%20form.-,What%20is%20CUET%3F,admission%20in%20their%20various%20courses." target="_blank">Official website</a>
                        <strong>Do Registration:-</strong>
                        <a href="https://www.careerpower.in/cuet-full-form.html#:~:text=CUET's%20full%20form.-,What%20is%20CUET%3F,admission%20in%20their%20various%20courses." class="vrd" target="_blank">Click Here To
                            Register</a>
                        <strong>Previous Year Question Paper:-</strong>
                        <a class="downloadbtn" href="a_pdf/jee.pdf" download target="_blank" class="vrd">Download PYQS</a>                    </p>


                    <p class="border">
                        <br>
                        <strong>TISS Bachelors Admission Test (TISS-BAT)</strong><br><br>
                        <strong>Purpose :-</strong>
                        "Admission in B.A. Social Sciences programme in any of three Campuses i.e. Tuljapur, Guwahati and"<br>
                        <strong>Eligibility :-</strong>
                        "Class 12 pass, 12+"<br>
                        <strong>Application mode :-</strong>
                        "Online"<br>
                        <strong>Syllabus :-</strong>
                        <a href="" class="vrd">See Syllabus</a>
                        <strong>Source:-</strong>
                        <a class="vrd" href="https://leverageedu.com/blog/tiss-bat/#:~:text=The%20Tata%20Institute%20of%20Social,in%20Social%20Sciences%20and%20in" target="_blank">Official website</a>
                        <strong>Do Registration:-</strong>
                        <a href="https://leverageedu.com/blog/tiss-bat/#:~:text=The%20Tata%20Institute%20of%20Social,in%20Social%20Sciences%20and%20in" class="vrd" target="_blank">Click Here To
                            Register</a>
                        <strong>Previous Year Question Paper:-</strong>
                        <a class="downloadbtn" href="a_pdf/jee.pdf" download target="_blank" class="vrd">Download PYQS</a>                    </p>
                </a>
            </div>
            

            <!-- Agriculture, Management & Hotel Management: -->


            <div class="specificationbox">
                <a name="agriculture">
                    <h2 class="secheading center">Agriculture, Management & Hotel Management:</h2>

                    <p class="border">
                        <br>
                        <strong>Indian Council of Agricultural Research ICAR AIEEA-UG-PG</strong><br><br>
                        <strong>Purpose :-</strong>
                        "Admission in Bachelor, Master Degree Program, SRF (PGS) to Pursuing Ph.D in Agriculture and Allied"<br>
                        <strong>Eligibility :-</strong>
                        "Class 12 pass (PCM)"<br>
                        <strong>Application mode :-</strong>
                        "Online"<br>
                        <strong>Syllabus :-</strong>
                        <a href="" class="vrd">See Syllabus</a>
                        <strong>Source:-</strong>
                        <a class="vrd" href="https://icar.nta.nic.in/" target="_blank">Official website</a>
                        <strong>Do Registration:-</strong>
                        <a href="https://icar.nta.nic.in/" class="vrd" target="_blank">Click Here To
                            Register</a>
                        <strong>Previous Year Question Paper:-</strong>
                        <a class="downloadbtn" href="a_pdf/jee.pdf" download target="_blank" class="vrd">Download PYQS</a>                    </p>


                    <p class="border">
                        <br>
                        <strong>All India Hotel management Entrance Exam NCHMCT JEE</strong><br><br>
                        <strong>Purpose :-</strong>
                        "Admission in B.Sc. Hospitality & Hotel Administration"<br>
                        <strong>Eligibility :-</strong>
                        "Class 12 pass (PCM)"<br>
                        <strong>Application mode :-</strong>
                        "Online"<br>
                        <strong>Syllabus :-</strong>
                        <a href="" class="vrd">See Syllabus</a>
                        <strong>Source:-</strong>
                        <a class="vrd" href="https://hospitality.careers360.com/exams/nchm-jee" target="_blank">Official website</a>
                        <strong>Do Registration:-</strong>
                        <a href="https://hospitality.careers360.com/exams/nchm-jee" class="vrd" target="_blank">Click Here To
                            Register</a>
                        <strong>Previous Year Question Paper:-</strong>
                        <a class="downloadbtn" href="a_pdf/jee.pdf" download target="_blank" class="vrd">Download PYQS</a>                    </p>
                </a>
            </div>

            <!-- Law: -->

            <div class="specificationbox">
                <a name="law">
                    <h2 class="secheading center">Law</h2>

                    <p class="border">
                        <br>
                        <strong>Common Law Admission Test</strong><br><br>
                        <strong>Purpose :-</strong>
                        "Admission in B.A. LL.B (Hons), B.Com. (Hons), BBA LL.B (Hons)"<br>
                        <strong>Eligibility :-</strong>
                        "Class 12 pass (PCM)"<br>
                        <strong>Application mode :-</strong>
                        "Online"<br>
                        <strong>Syllabus :-</strong>
                        <a href="" class="vrd">See Syllabus</a>
                        <strong>Source:-</strong>
                        <a class="vrd" href="https://cucet.cuchd.in/?type=gsn-cucet&gclid=CjwKCAiAqt-dBhBcEiwATw-ggOusWmeChxDiokP-euMqBVIwuj4u5SQfISrD_JYroNXgsDtyyKZLwhoC4C8QAvD_BwE" target="_blank">Official website</a>
                        <strong>Do Registration:-</strong>
                        <a href="https://cucet.cuchd.in/?type=gsn-cucet&gclid=CjwKCAiAqt-dBhBcEiwATw-ggOusWmeChxDiokP-euMqBVIwuj4u5SQfISrD_JYroNXgsDtyyKZLwhoC4C8QAvD_BwE" class="vrd" target="_blank">Click Here To
                            Register</a>
                        <strong>Previous Year Question Paper:-</strong>
                        <a class="downloadbtn" href="a_pdf/jee.pdf" download target="_blank" class="vrd">Download PYQS</a>                    </p>


                    <p class="border">
                        <br>
                        <strong>All India Law Entrance Test (AILET)</strong><br><br>
                        <strong>Purpose :-</strong>
                        "Admission in B.A., LL.B. (Hons.), LLM, PhD"<br>
                        <strong>Eligibility :-</strong>
                        "Class 12 pass (PCM)"<br>
                        <strong>Application mode :-</strong>
                        "Online"<br>
                        <strong>Syllabus :-</strong>
                        <a href="" class="vrd">See Syllabus</a>
                        <strong>Source:-</strong>
                        <a class="vrd" href="https://nludelhi.ac.in/adm-ba-test.aspx" target="_blank">Official website</a>
                        <strong>Do Registration:-</strong>
                        <a href="https://nludelhi.ac.in/adm-ba-test.aspx" class="vrd" target="_blank">Click Here To
                            Register</a>
                        <strong>Previous Year Question Paper:-</strong>
                        <a class="downloadbtn" href="a_pdf/jee.pdf" download target="_blank" class="vrd">Download PYQS</a>                    </p>
                </a>
            </div>

            <!-- Pure Science -->

            <div class="specificationbox">
                <a name="puresci">
                    <h2 class="secheading center">Pure Science</h2>

                    <p class="border">
                        <br>
                        <strong>Indian Institutes of Science Education and Research</strong><br><br>
                        <strong>Purpose :-</strong>
                        "Admissions to 5 year BS-MS Degree Programme"<br>
                        <strong>Eligibility :-</strong>
                        "Class 12 pass (PCM)"<br>
                        <strong>Application mode :-</strong>
                        "Online"<br>
                        <strong>Syllabus :-</strong>
                        <a href="" class="vrd">See Syllabus</a>
                        <strong>Source:-</strong>
                        <a class="vrd" href="https://www.iiserpune.ac.in/" target="_blank">Official website</a>
                        <strong>Do Registration:-</strong>
                        <a href="https://www.iiserpune.ac.in/" class="vrd" target="_blank">Click Here To
                            Register</a>
                        <strong>Previous Year Question Paper:-</strong>
                        <a class="downloadbtn" href="a_pdf/jee.pdf" download target="_blank" class="vrd">Download PYQS</a>                    </p>


                    <p class="border">
                        <br>
                        <strong>National Entrance Screening Test (NEST)</strong><br><br>
                        <strong>Purpose :-</strong>
                        "Admission in 5 year integrated M.Sc. programme in Biological, Chemical, Mathematical and Physical sciences"<br>
                        <strong>Eligibility :-</strong>
                        "Class 12 pass (PCM)"<br>
                        <strong>Application mode :-</strong>
                        "Online"<br>
                        <strong>Syllabus :-</strong>
                        <a href="" class="vrd">See Syllabus</a>
                        <strong>Source:-</strong>
                        <a class="vrd" href="https://www.nestexam.in/" target="_blank">Official website</a>
                        <strong>Do Registration:-</strong>
                        <a href="https://www.nestexam.in/" class="vrd" target="_blank">Click Here To
                            Register</a>
                        <strong>Previous Year Question Paper:-</strong>
                        <a class="downloadbtn" href="a_pdf/jee.pdf" download target="_blank" class="vrd">Download PYQS</a>                    </p>
                </a>
            </div>


            <!-- Mathematics-->


            <div class="specificationbox">
                <a name="maths">
                    <h2 class="secheading center">Mathematics</h2>

                    <p class="border">
                        <br>
                        <strong>Indian Statistical Institute Admission
                        </strong><br><br>
                        <strong>Purpose :-</strong>
                        "Admission in B Stat (Hons), B Math (Hons), M Stat, M Math, MS (QE), MS (LIS), M Tech (CS), M Tech (QROR)"<br>
                        <strong>Eligibility :-</strong>
                        "Class 12 pass (PCM)"<br>
                        <strong>Application mode :-</strong>
                        "Online"<br>
                        <strong>Syllabus :-</strong>
                        <a href="" class="vrd">See Syllabus</a>
                        <strong>Source:-</strong>
                        <a class="vrd" href="https://www.isical.ac.in/~admission/" target="_blank">Official website</a>
                        <strong>Do Registration:-</strong>
                        <a href="https://www.isical.ac.in/~admission/" class="vrd" target="_blank">Click Here To
                            Register</a>
                        <strong>Previous Year Question Paper:-</strong>
                        <a class="downloadbtn" href="a_pdf/jee.pdf" download target="_blank" class="vrd">Download PYQS</a>                    </p>

                    <p class="border">
                        <br>
                        <strong>BHU Undergraduate Entrance Test (BHU UET)</strong><br><br>
                        <strong>Purpose :-</strong>
                        "Admission in UG programmes in BHU"<br>
                        <strong>Eligibility :-</strong>
                        "Class 12 pass (PCM)"<br>
                        <strong>Application mode :-</strong>
                        "Online"<br>
                        <strong>Syllabus :-</strong>
                        <a href="" class="vrd">See Syllabus</a>
                        <strong>Source:-</strong>
                        <a class="vrd" href="http://bhuonline.in/" target="_blank">Official website</a>
                        <strong>Do Registration:-</strong>
                        <a href="http://bhuonline.in/" class="vrd" target="_blank">Click Here To
                            Register</a>
                        <strong>Previous Year Question Paper:-</strong>
                        <a class="downloadbtn" href="a_pdf/jee.pdf" download target="_blank" class="vrd">Download PYQS</a>                    </p>
                </a>
            </div>

            



           
            <footer>
                <div class="center">
                    CopyRight &copy; www.examportal.com. all rights are reserve

                </div>
            </footer>

        </section>
    </section>


</body>

</html>