<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sample paper</title>
    <script src="https://kit.fontawesome.com/b0a4a992bb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css" />


</head>

<body>

    <section id="samplepaper">
        <div id="navbar">

            <div id="logo">
                <img src="images/logoo.jpeg" alt="loading image">
            </div>
            <h1 class="priheading center">WELCOME TO EXAM PORTAL WEBSITE</h1>

        </div>

        <input type="checkbox" id="opensidebar">
        <label for="opensidebar" class="sidebaricon">
            <div class="spinner top"></div>
            <div class="spinner middle"></div>
            <div class="spinner bottom"></div>
        </label>


        <div id="sidebarmenu">
            <ul class="menu">
                <li><a href="_a" target="_blank"><i class="fa-solid fa-graduation-cap"></i> STUDENT PROFILE</a></li>
                <li><a href="_a" target="_blank"><i class="fa-solid fa-pen"></i> EXAMS</a></li>
                <li><a href="_a" target="_blank"><i class="fa-solid fa-book-open-reader"></i> COURSES</a></li>
                <li><a href="_a" target="_blank"><i class="fa-solid fa-chalkboard-user"></i> MENTOR</a></li>
                <li><a href="_a" target="_blank"><i class="fa-solid fa-paper-plane"></i> SAMPLE PAPER</a></li>
                <li><a href="contact.html" target="_blank"><i class="fa-solid fa-phone"></i> CONTACT US</a></li>

            </ul>
        </div>
        <div class="heading">
            <h2 class="secheading center">DOWNLOAD QUESTION PAPER</h2>
        </div>

        <div class="selectionbox">
            <ul class="selectname">
                <li ><a class="qbheading" href="#"> 11th And 12th</a>
                    <ul>
                        <li class="qbheading2"><a href="/jr_sci"><i class="fa-solid fa-flask"></i> Science</a></li>
                        <li class="qbheading2"><a class="qbheading2" href="/jr_com"><i class="fa-solid fa-chart-simple"></i> Commerce</a> </li>
                        <li class="qbheading2"><a href="/jr_arts"><i class="fa-solid fa-book-open-reader"></i> Arts</a> </li>
                    </ul>
                </li>
                <li ><a class="qbheading" href="#">Under Graduate</a>
                    <ul>
                        <li class="qbheading2"><a href="ug_sci.html"><i class="fa-solid fa-flask"></i> Science</a></li>
                        <li class="qbheading2"><a class="qbheading2" href="ug_com.html"><i class="fa-solid fa-chart-simple"></i> Commerce</a> </li>
                        <li class="qbheading2"><a href="ug_arts.html"><i class="fa-solid fa-book-open-reader"></i>> Arts</a> </li>
                    </ul> </li>
                <li ><a class="qbheading" href="#">Post Graduate</a>
                    <ul>
                        <li class="qbheading2"><a href="pg_sci.html"><i class="fa-solid fa-flask"></i> Science</a></li>
                        <li class="qbheading2"><a class="qbheading2" href="pg_com.html"><i class="fa-solid fa-chart-simple"></i> Commerce</a> </li>
                        <li class="qbheading2"><a href="pg_com.html"><i class="fa-solid fa-book-open-reader"></i> Arts</a> </li>
                    </ul> </li>
            </ul>
        </div>
       
    </section>

</body>

</html>