<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ug commers exams </title>
    <script src="https://kit.fontawesome.com/b0a4a992bb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css" />


</head>

<body>
    <section class="exampage">
        <div id="navbar">

            <div id="logo">
                <img src="images/logoo.jpeg" alt="loading image">
            </div>
            <h1 class="priheading center">WELCOME TO JUNIOR COLLEGES EXAM SECTION</h1>

        </div>
        <input type="checkbox" id="opensidebar">
        <label for="opensidebar" class="sidebaricon">
            <div class="spinner top"></div>
            <div class="spinner middle"></div>
            <div class="spinner bottom"></div>
        </label>


        <div id="sidebarmenu">
            <ul class="menu">
                <li><a href="_a" target="_blank"><i class="fa-solid fa-graduation-cap"></i> STUDENT PROFILE</a></li>
                <li><a href="_a" target="_blank"><i class="fa-solid fa-pen"></i> EXAMS</a></li>
                <li><a href="_a" target="_blank"><i class="fa-solid fa-book-open-reader"></i> COURSES</a></li>
                <li><a href="_a" target="_blank"><i class="fa-solid fa-chalkboard-user"></i> MENTOR</a></li>
                <li><a href="_a" target="_blank"><i class="fa-solid fa-paper-plane"></i> SAMPLE PAPER</a></li>
                <li><a href="/contact" target="_blank"><i class="fa-solid fa-phone"></i> CONTACT US</a></li>
            </ul>
        </div>
        <div class="heading">
            <h2 class="secheading center">EXAMS FOR JUNIOR COLLEGE (COMMERCE)</h2>

        </div>


        <div class="exam">

            <div class="exambox">
                <ul class="examname">
                    <li><a href="#cacpt">  CUET </a></li>
                    <li><a href="#cseet">DUET PG.</a></li>
                    <li><a href="#cma"> BITSAT</a></li>
                    <li><a href=" #nmims">  CUSAT </a></li>
                    <li><a href=" #acet ">JNUEE</a></li>
                </ul>

            </div>


        </div>

        <section class="examspecification">
            <div class="specificationbox">
                <a name="cacpt">
                    <h2 class="secheading center">Common University Entrance Test</h2>

                    <p class="border">
                        <br>
                        <strong>Common University Entrance Test</strong><br><br>
                        <strong>Purpose :-</strong>
                        " admission to various Undergraduate, Integrated, Postgraduate, Diploma, Certification courses and Research Programmes."<br>
                        <strong>Eligibility :-</strong>
                        "12th pass"<br>
                        <strong>Application mode :-</strong>
                        "Online"<br>
                        <strong>Syllabus :-</strong>
                        <a href="" class="vrd">See Syllabus</a>
                        <strong>Source:-</strong>
                        <a class="vrd"
                            href="https://cuet.samarth.ac.in/"
                            target="_blank">Official website</a>
                        <strong>Do Registration:-</strong>
                        <a href="https://cuet.samarth.ac.in/"
                            class="vrd" target="_blank">Click Here To
                            Register</a>
                        <strong>Previous Year Question Paper:-</strong>
                        <a class="downloadbtn" href="/public/a_pdf/jee.pdf" download target="_blank"
                            class="vrd">Download PYQS</a>
                    </p>


                </a>
            </div>


            <div class="specificationbox">
                <a name="cseet">
                    <h2 class="secheading center">The Delhi University Entrance Test</h2>

                    <p class="border">
                        <br>
                        <strong>The Delhi University Entrance Test</strong><br><br>
                        <strong>Purpose :-</strong>
                        " admission to various UG, PG, MPhil and PhD programmes offered by the Delhi University"<br>
                        <strong>Eligibility :-</strong>
                        "Class 12 pass"<br>
                        <strong>Application mode :-</strong>
                        "Online"<br>
                        <strong>Syllabus :-</strong>
                        <a href="" class="vrd">See Syllabus</a>
                        <strong>Source:-</strong>
                        <a class="vrd"
                            href="https://pgadmission.uod.ac.in/index.php/site/login"
                            target="_blank">Official website</a>
                        <strong>Do Registration:-</strong>
                        <a href="https://pgadmission.uod.ac.in/index.php/site/login"
                            class="vrd" target="_blank">Click Here To
                            Register</a>
                        <strong>Previous Year Question Paper :-</strong>
                        <a class="downloadbtn" href="/public/a_pdf/jee.pdf" download target="_blank"
                            class="vrd">Download PYQS</a>
                    </p>


                </a>
            </div>

            <div class="specificationbox">
                <a name="cma">
                    <h2 class="secheading center">Birla Institute of Technology and Science Admission</h2>

                    <p class="border">
                        <br>
                        <strong>Birla Institute of Technology and Science Admission/strong><br><br>
                        <strong>Purpose :-</strong>
                        "to select candidates for its B.E., B. Pharm. & M.Sc. courses."<br>
                        <strong>Eligibility :-</strong>
                        "10+2 pass"<br>
                        <strong>Application mode :-</strong>
                        "Online"<br>
                        <strong>Syllabus :-</strong>
                        <a href="" class="vrd">See Syllabus</a>
                        <strong>Source:-</strong>
                        <a class="vrd" href="https://www.bitsadmission.com/" target="_blank">Official website</a>
                        <strong>Do Registration:-</strong>
                        <a href="https://www.bitsadmission.com/" class="vrd" target="_blank">Click Here To
                            Register</a>
                        <strong>Previous Year Question Paper :-</strong>
                        <a class="downloadbtn" href="/public/a_pdf/jee.pdf" download target="_blank"
                            class="vrd">Download PYQS</a>
                    </p>
                </a>
            </div>


            <div class="specificationbox">
                <a name="nmims">
                    <h2 class="secheading center">Cochin University of Science and Technology</h2>

                    <p class="border">
                        <br>
                        <strong>Cochin University of Science and Technology</strong><br><br>
                        <strong>Purpose :-</strong>
                        " for admission to various programmes viz. Engineering, Environmental Studies, Humanities, Law, Marine Sciences"<br>
                        <strong>Eligibility :-</strong>
                        "12th pass"<br>
                        <strong>Application mode :-</strong>
                        "Online"<br>
                        <strong>Syllabus :-</strong>
                        <a href="" class="vrd">See Syllabus</a>
                        <strong>Source:-</strong>
                        <a class="vrd"
                            href="https://cusat.ac.in/"
                            target="_blank">Official website</a>
                        <strong>Do Registration:-</strong>
                        <a href="https://cusat.ac.in/" class="vrd" target="_blank">Click Here To
                            Register</a>
                        <strong>Previous Year Question Paper :-</strong>
                        <a class="downloadbtn" href="/public/a_pdf/jee.pdf" download target="_blank"
                            class="vrd">Download PYQS</a>
                    </p>
                </a>
            </div>


            



            
        </section>
    </section>

</body>

</html>